@import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/_feed-form';
@import 'blocks/_slider';
@import 'blocks/catalog';
@import 'blocks/catalog-item';
@import 'blocks/_reviews';
@import 'blocks/_footer';
@import 'blocks/_modal';

*{
    margin: 0;
    padding: 0;
    font-family: "Museo Sans", sans-serif;
}
p, ul, ol{
    margin: 0;
    list-style: none;
}
a{
    color: inherit;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}