.feed-form{
    width: 31%;
    &__input{
        display: block;
        margin-top: 15px;
        border-radius: 5px;
        background-color: #ffffff;
        color: #000000;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        width:100%;
        border: none;
        overflow:scroll;
        &::-webkit-input-placeholder {
            color:#4b4b4b;
            font-weight: 300;
        }
        &::-moz-placeholder {
            color:#4b4b4b;
            font-weight: 300;
        }
        &:-moz-placeholder {
            color:#4b4b4b;
            font-weight: 300;
        }
        &:-ms-input-placeholder {
            color:#4b4b4b;
            font-weight: 300;
        }
    }
    &__name{
        margin-top: 40px;
    }
}