.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        max-width:250px;
        img{
            width: 90%;
        }
    }
    &__official{
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        span {
            font-weight: 700;
            font-size: 18px;
        }
    }
    &__phone{
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
        &:hover{
            color: #ffffff;
        }
    }
    &__button{
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        padding: 10px 20px;
        color: #ffffff;
        text-align: right;
        margin-top: 5px;
        &:hover{
            opacity: .8;
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}