.title{
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &__advantages{
        margin-bottom: 65px;
    }
    &__reviews{
        margin-top: 100px;
    }
}